body {
    font-family: sans-serif;
}

.container {
    background: linear-gradient(90deg, #FF6200, #FD7F2C);
    border: 1px none;
    width: 400px;
    height: 330px;
    padding: 20px;
    margin: 100px auto;
    border-radius: 20px;
}

h1 {
    text-align: center;
}

input {
    width: 100%;
    box-sizing: border-box;
    background: lightgrey;
    padding: 5px;
    margin: 10px 0 10px 0;
    border: 0;
    border-radius: 10px;
}

.kirim {
    margin-top: 6px;
    padding: 10px;
    border-radius: 20px;
    background: black;
    color: white;
}

.kirim:hover {
    background: white;
    color: black;
    cursor: pointer;
    transition: 0.2s;
}